* {
    margin: 0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 3rem;
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3rem;
    bottom: 0;
    position: absolute;
    width: calc(100% - 6rem);
}